<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<div class="container">
  <!-- <p>
    <form action="/wonders" method = "GET" class="form-inline">
      <div class="form-group">
        <input type="text" name="search" id="" placeholder="Search for a wonder..." class="form-control">
        <input type="submit" value="Search" class="btn btn-primary">
      </div>
    </form>
  </p> -->
  <h1>All Wonders</h1>

  <% for (let campground of campgrounds){%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <%if(campground.images.length) {%>
        <img class="img-fluid" alt="" src="<%=campground.images[0].url%>" />
        <% }else {%>
        <img
          class="img-fluid"
          alt=""
          src="https://res.cloudinary.com/dy4ygmndt/image/upload/v1614114223/YelpCamp/hshiku8y0fl7rhdhmlco.jpg"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>

          <p class="card-text"><%= campground.description.slice(0,160) %>...</p>
          <p class="card-text">
            <%= campground.price ? `Established In: ${campground.price }` : ""
            %>
          </p>
          <p class="card-text">
            <small class="text-muted"><%= campground.location%></small>
          </p>
          <a class="btn btn-primary" href="/wonders/<%=campground._id%>"
            >View <%=campground.title%></a
          >
        </div>
      </div>
    </div>
  </div>
  <% }%>
</div>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
